<form method='POST'>
  <label for='input-name'>Name</label>
  <input id='input-name' type='text' placeholder='Your name' name='name' />

  <label for='input-username'>Username</label>
  <input
    id='input-username'
    type='text'
    placeholder='Your username'
    name='username'
    required
  />

  <label for='input-password'>Password</label>
  <input
    id='input-password'
    type='password'
    placeholder='Your password'
    name='password'
    required
    minlength='5'
  />
  <button>Register</button>
</form>