$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0 auto;
  padding: 50px;
  font-family: $font-sans;
}

a {
  color: $link-color;
}
nav {
  width: 100%;
  text-align: center;
}
